---
  - vars:
    aws_access_key : your_aws_access_key_here
    aws_secret_key : your_aws_secret_key_here
    mysql_root_user: mysql_admin
    mysql_root_pwd : your_mysql_root_user_password
    mysql_wp_user: wordpress
    mysql_wp_password:  your_wp_user_password

